REQUIRED LIBRARIES:
- csv
- random
- tempfile
- shutil
- numpy 
- joblib 
- sklearn
- keras
- numpy  
- collections
- gtts 
- speech_recognition  
- tensorflow 
- keras
- enchant
- math
- pyttsx3
- speech_recognition